<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ blog.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="title">
            <a href="{{ url_for('home') }}"><h1>My Blog</h1></a>
        </div>
    </div>

    <div class="content">
        <div class="card">
            <h1>{{ blog.title }}</h1>
            <h2>{{ blog.subtitle }}</h2>
            <p class="text">{{ blog.body }}</p>
            <a href="{{ url_for('get_all_blogs') }}">← Back to all blogs</a>
        </div>
    </div>
</div>

<footer>
    <p>© Tomato Copyright {{year}}.</p>
</footer>
</body>
</html>
